

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-weight:bolder;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}
nav li a{
    font-weight: 400;
    font-size: 20px;

}
.dark-2{
    color: #0D1321;
}

.btn-primary{
    font-weight: 400;  
    color: #0D1321;
    padding: 17px 45px;
    border-radius: 5px;
}

